.recognition-button {
  background-color: #007bff;
  color: #fff; 
  padding: 12px 12px; 
  border: none; 
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.recognition-button:hover {
    background-color: #023368;
    transition: .2s ease;
}